---
const year = new Date().getFullYear();
---
<footer class="site-footer">
  <div>
    <a href="https://www.linkedin.com/in/karolpiatek/" target="_blank" rel="noopener">LinkedIn</a>
    <a href="https://github.com/karolpiateknet" target="_blank" rel="noopener">GitHub</a>
    <a href="https://twitter.com/karolpiateknet" target="_blank" rel="noopener">Twitter</a>
    <a href="/rss.xml">RSS</a>
  </div>
  <div style="margin-top: 0.5rem;">© {year} Karol Piątek</div>
</footer>
